/**
* GLOBAL
*/
// @import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,600,900,900i|Playfair+Display:400,700|PT+Serif:400,400i,700,700i');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  // font-family: "Inter UI", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  // font-family: 'Zilla Slab', serif;
  font-family: 'PT Serif', serif;
  // font-size: 16px;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  color: $black;
}

body {
  // font-size: 1.25rem;
  font-size: 2vw;
  line-height: 1.6;
  overflow: initial;

  @include widescreen {
    font-size: 1em;
  }
}

img {
  width: 100%;
  display: inline-block;
}

.font-title {
  font-family: $fontSans;
  font-weight: 900;
}

.font-meta {
  font-family: $fontSerif2;
  // font-weight: 700;
}

p {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: $black;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
  transition: $transition;

  .rootColumns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .rootColumn {
      $cWidthCenter: 98.5%;
      $cWidthRest: 100% - $cWidthCenter;
      display: block;
      // width: 100%;

      &.is-center {
        width: $cWidthCenter;
      }

      &.is-left,
      &.is-right {
        width: $cWidthRest;
        // overflow: hidden;
        min-height: 100vh;
        display: flex;
        align-items: center;
        // background: pink;
        position: fixed;
        font-family: $fontSans;
        font-size: 1.5rem;

        > div {
          opacity: .5;
          transition: $transition;
        }

        @include widescreen {
          font-size: 2vw;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }

      &.is-left {
        left: 0;
        text-align: right;
        justify-content: right;

        &:focus,
        &:hover {
          > div {
            opacity: 1;
            transform: translateX(2em);
          }
        }
      }

      &.is-right {
        right: 0;
        text-align: left;
        justify-content: left;

        &:focus,
        &:hover {
          > div {
            opacity: 1;
            transform: translateX(-2em);
          }
        }
      }
    }
  }

  .content {
    margin: 0 auto;

    article {
      transition: $transition;
    }

    header {
      position: relative;
      // position: sticky;
      // top: 0;

      .font-title {
        transition: $transition;
      }
    }

    .text {
      width: 100%;
      transition: $transition;

      p {
        transition: $transition;
      }
    }
  }
}

.m-wrapper {
  transform: translate(0, 0); // fix for mix-blend bug
  width: 100%;
  height: 100%;
}

.container {
  transition: all .2s;

}


.page-enter-active,
.layout-enter-active  {
  transition: $transition;
  transform-origin: 50% 50vh;
}


// .page-enter-active,
// .page-leave-to {
//   transform: scale(1);
//   opacity: 1;
// }
// .page-enter,
// .page-leave-to {
//   opacity: 0;
//   transform: scale(0.75)
// }



.layout-enter-active,
.layout-leave-to{
  opacity: 1;
  transform: scale(1);
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
  transform: scale(0.75)
}

// .layout-enter,
// .page-enter {
//   transform: translate3d(100%, 0, 0);
// }

// .layout-leave-to,
// .page-leave-to {
//   transform: translate3d(-100%, 0, 0);
// }

// .layout-enter {
//   transform: scale(0.75)
// }

// .layout-enter-to,
// .layout-leave {
//   transform: scale(1);
// }

// .layout-leave-to {
//   transform: scale(1.25)
// }
